@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Software and Hardware Quality Testing and Certification (SHQTC) Center</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&amp;family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/external-template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/external-template/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/external-template/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/external-template/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/external-template/assets/css/style.css">

    <style>
        .login-btn {
            background: rgba(36, 181, 116, 1) !important;
            padding: 6px 20px !important;
            border-radius: 30px !important;
            color: #fff !important;
            font-weight: 700 !important;
            text-transform: capitalize !important;
        }
        .register-btn {
            background: rgba(38, 85, 137, 1) !important;
            padding: 6px 20px !important;
            border-radius: 30px !important;
            color: #fff !important;
            font-weight: 700 !important;
            text-transform: capitalize !important;
        }
    </style>
</head>
<body>
    <header class="th-header header-layout1 onepage-nav">
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a class="icon-masking" href="#"><img src="~/external-template/assets/img/logo2.svg" alt="SHQTC"></a></div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li><a href="#about-sec">About Us</a></li>
                                    <li><a href="#service-sec">Services</a></li>
                                    <li><a href="#project-sec">gallery</a></li>
                                    <li><a href="#price-sec">Pricing</a></li>
                                    <li><a href="#contact-sec">Contact Us</a></li>
                                    <li><a href="Account/Login" class="login-btn ">Login</a></li>
                                    <li class="ms-0"><a href="Account/ExternalClientRegister" class="register-btn">Registar</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="th-hero-wrapper hero-2" id="hero">
        <div class="slider-area">
            <div class="swiper th-slider hero-slider-2" id="heroSlider2" data-slider-options='{"autoHeight":"true","effect":"fade","breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"1"},"1200":{"slidesPerView":"1"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="th-hero-slide">
                            <div class="th-hero-bg" data-bg-src="~/external-template/assets/img/hero/it-1.jpg"></div>
                            <div class="container">
                                <div class="hero-style2">
                                    <div class="ripple-shape"><span class="ripple-1"></span><span class="ripple-2"></span><span class="ripple-3"></span><span class="ripple-4"></span><span class="ripple-5"></span><span class="ripple-6"></span></div>
                                    <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">SECURE IT SERVICES</span>
                                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Welcome to Testing</h1>
                                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">Quality Control, and Certification</h1>
                                    <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">
                                        Software and Hardware
                                        Quality Testing and Certification (SHQTC) Center is committed to strengthen the integrity and
                                        security of valuable government systems.
                                    </p>
                                    <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s"><a href="#" class="th-btn style2">CONTACT US<i class="fa-regular fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th-hero-slide">
                            <div class="th-hero-bg" data-bg-src="~/external-template/assets/img/hero/it-2.jpg"></div>
                            <div class="container">
                                <div class="hero-style2">
                                    <div class="ripple-shape"><span class="ripple-1"></span><span class="ripple-2"></span><span class="ripple-3"></span><span class="ripple-4"></span><span class="ripple-5"></span><span class="ripple-6"></span></div>
                                    <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">SECURE IT SERVICES</span>
                                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Welcome to Testing</h1>
                                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">Quality Control, and Certification</h1>
                                    <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">
                                        Software and Hardware
                                        Quality Testing and Certification (SHQTC) Center is committed to strengthen the integrity and
                                        security of valuable government systems.
                                    </p>
                                    <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s"><a href="" class="th-btn style2">CONTACT US<i class="fa-regular fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th-hero-slide">
                            <div class="th-hero-bg" data-bg-src="~/external-template/assets/img/hero/it-3.jpg"></div>
                            <div class="container">
                                <div class="hero-style2">
                                    <div class="ripple-shape"><span class="ripple-1"></span><span class="ripple-2"></span><span class="ripple-3"></span><span class="ripple-4"></span><span class="ripple-5"></span><span class="ripple-6"></span></div>
                                    <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">SECURE IT SERVICES</span>
                                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Welcome to Testing</h1>
                                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">Quality Control, and Certification</h1>
                                    <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">
                                        Software and Hardware
                                        Quality Testing and Certification (SHQTC) Center is committed to strengthen the integrity and
                                        security of valuable government systems.
                                    </p>
                                    <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s"><a href="" class="th-btn style2">CONTACT US<i class="fa-regular fa-arrow-right ms-2"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button data-slider-prev="#heroSlider2" class="slider-arrow style3 slider-prev"><i class="far fa-arrow-left"></i></button> <button data-slider-next="#heroSlider2" class="slider-arrow style3 slider-next"><i class="far fa-arrow-right"></i></button>
        </div>
        <div class="hero-shape2"><img src="~/external-template/assets/img/hero/hero_shape_2_2.png" alt="shape"></div>
        <div class="hero-shape3"><img src="~/external-template/assets/img/hero/hero_shape_2_3.png" alt="shape"></div>
    </div>

    <div class="marque-section">
        <div class="marquee-wrapper-test text-slider">
            <div class="marquee-inner to-left">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item">
                        <span class="text-slider">Functional Testing</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Software Quality Testing</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Security Testing</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Hardware Quality Testing</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Automation Software</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Business</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">IT Solution</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Work Process</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Technology</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">IT Solution</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Business</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">IT Solution</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Work Process</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">Technology</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                        <span class="text-slider">IT Solution</span><span class="text-slider"><img src="~/external-template/assets/img/star.svg" alt="img"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="overflow-hidden space" id="about-sec">
        <div class="container th-container4">
            <div class="about-area5">
                <div class="row align-items-center">
                    <div class="col-xl-6">
                        <div class="">
                            <div class="title-area mb-30">
                                <h2 class="sec-title">About Us</h2>
                            </div>
                            <p class="mt-n2 mb-25 about-desc">
                                Established by the Bangladesh Computer Council (BCC), Software and Hardware Quality
                                Testing and Certification (SHQTC) Center stands as the sole international quality testing center
                                in Bangladesh, leading the way ensuring the standards of software and hardware used for
                                government purposes while safeguarding cyber and digital security. SHQTC started in 2017
                                and currently it is running under the Testing, Quality Control, and Certification Wing of
                                Bangladesh Computer Council. The role of SHQTC is to enhance security, ensure compliance,
                                improve efficiency, reduce defects and errors, improve customer satisfaction, and increase the
                                reliability of software and hardware. We understand the crucial role that software and hardware
                                plays in diverse government operations. We ensure the security and reliability of software
                                applications, guarding against issues and vulnerabilities. SHQTC also conducts a variety of
                                tests on the diverse hardware of various government organizations. Software and Hardware
                                Quality Testing and Certification (SHQTC) Center is committed to strengthen the integrity and
                                security of valuable government systems..
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="img-box6">
                            <div class="img1"><img src="~/external-template/assets/img/normal/about.jpg" alt="About"></div>
                            <!-- <div class="th-experience dance">
                                <div class="th-experience_content">
                                    <h2 class="experience-year"><span class="counter-number">25</span></h2>
                                    <p class="experience-text">Years of experience in Quality Testing</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" id="cheif-message">
        <div class="container th-container4">
            <div class="row align-items-center">
                <div class="col-xl-7">
                    <div class="img-box14">
                        <div class="img1"><img src="~/external-template/assets/img/normal/about_12_1.jpg" alt="About"></div>
                        <div class="shape1"><img src="~/external-template/assets/img/normal/about_12_shape.png" alt="About"></div>
                        <div class="shape2"><img src="~/external-template/assets/img/normal/about_12_1_shape.png" alt="About"></div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="title-area mb-35">
                        <span class="sub-title sub-title3 style1">Our Honorable Chief message</span>
                        <h2 class="sec-title">
                            We ensure the security and reliability of software
                            applications, guarding against issues and vulnerabilities.
                        </h2>
                    </div>
                    <p class="mt-n2 mb-25">
                        Our mission is straightforward yet impactful: to elevate the standards of software and hardware
                        quality testing. We aim to empower organizations, particularly government entities, to release
                        flawless software products that provide outstanding user experiences. Additionally, we seek to
                        enable them to procure hardware that precisely meets their requirements.
                    </p>
                    <div class="about-author fade-in-right">
                        <div class="author-info">
                            <div class="author-img">
                                <img src="~/external-template/assets/img/about-author.jpg" alt="author">
                            </div>
                            <h3 class="name">CEO Name <span>Co-Founder</span></h3>
                        </div>
                        <img class="sign" src="~/external-template/assets/img/sign.png" alt="sign">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rts-service-our-company-h2 eight rts-section-gap space" id="service-sec">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 col-sm-10 px-xl-4">
                    <div class="title-area text-center">
                        <span class="sub-title">
                            <div class="icon-masking me-2"><span class="mask-icon" data-mask-src="~/external-template/assets/img/theme-img/title_shape_2.svg"></span> <img src="~/external-template/assets/img/theme-img/title_shape_2.svg" alt="shape"></div>
                            Services of SHQTC
                        </span>
                        <ul class="nav nav-tabs testing-type" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="software-tab" data-bs-toggle="tab" data-bs-target="#software" type="button" role="tab" aria-controls="software" aria-selected="true">Software Testing </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="hardware-tab" data-bs-toggle="tab" data-bs-target="#hardware" type="button" role="tab" aria-controls="hardware" aria-selected="false">Hardware Testing</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="hardware-tab" data-bs-toggle="tab" data-bs-target="#hardware" type="button" role="tab" aria-controls="hardware" aria-selected="false">Security Testing</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt_sm--30">
                    <div class="tab-content" id="myTabContent-test">
                        <div class="about-company-wrapper tab-pane fade show active" id="software" role="tabpanel" aria-labelledby="software-tab">
                            <div class="rts-tab-style-one">
                                <div class="d-flex align-items-start contoler-company">
                                    <div class="nav flex-column nav-pills me-3 button-area" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">01. Functional Testing</button>
                                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">02. Performance Testing</button>
                                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">03. Security Testing</button>
                                        <button class="nav-link" id="v-pills-manufacture-tab" data-bs-toggle="pill" data-bs-target="#v-pills-manufacture" type="button" role="tab" aria-controls="v-pills-manufacture" aria-selected="false">04. Compatibility Testing</button>
                                        <button class="nav-link" id="v-pills-education-tab" data-bs-toggle="pill" data-bs-target="#v-pills-education" type="button" role="tab" aria-controls="v-pills-education" aria-selected="false">05. Integration Testing</button>
                                        <button class="nav-link active" id="v-pills-customer-tab" data-bs-toggle="pill" data-bs-target="#v-pills-customer" type="button" role="tab" aria-controls="v-pills-customer" aria-selected="true">06. Automation Testing</button>
                                    </div>
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Functional testing ensures that software and mobile app perform
                                                    according to specified requirements. SHQTC meticulously evaluate the functionality of
                                                    client’s product, verifying that it meets user expectations and fulfills its intended
                                                    purpose.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Performance testing assesses the speed, responsiveness, scalability, and stability of software under different workload conditions.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Security testing aims to identify vulnerabilities, weaknesses, and
                                                    potential threats in software that could compromise data integrity, confidentiality, or
                                                    availability. SHQTC offers comprehensive security testing services, including
                                                    vulnerability assessment and penetration testing (VAPT), and security code review,
                                                    covering both web applications and mobile applications.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-manufacture" role="tabpanel" aria-labelledby="v-pills-manufacture-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Compatibility testing ensures that client’s software functions
                                                    seamlessly across different platforms, operating systems, browsers, and devices.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Integration testing focuses on verifying the interactions and
                                                    interfaces between different components, modules, or systems within software. SHQTC
                                                    ensures seamless integration of individual components into a unified system, detecting
                                                    and resolving any integration issues that may arise.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade active show" id="v-pills-customer" role="tabpanel" aria-labelledby="v-pills-customer-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Automation testing involves using specialized software tools and
                                                    scripts to execute test cases, compare actual outcomes with expected results, and report
                                                    on the performance and behavior of software.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-company-wrapper tab-pane fade" id="hardware" role="tabpanel" aria-labelledby="hardware-tab">
                            <div class="rts-tab-style-one">
                                <div class="d-flex align-items-start contoler-company">
                                    <div class="nav flex-column nav-pills me-3 button-area" id="h-pills-tab" role="tablist" aria-orientation="vertical">
                                        <button class="nav-link active" id="h-pills-home-tab" data-bs-toggle="pill" data-bs-target="#h-pills-home" type="button" role="tab" aria-controls="h-pills-home" aria-selected="false">01. Network Device Testing</button>
                                        <button class="nav-link" id="h-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#h-pills-profile" type="button" role="tab" aria-controls="h-pills-profile" aria-selected="false">02. Computer Testing</button>
                                        <button class="nav-link" id="h-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#h-pills-messages" type="button" role="tab" aria-controls="h-pills-messages" aria-selected="false">03. Display Testing</button>
                                        <button class="nav-link" id="h-pills-manufacture-tab" data-bs-toggle="pill" data-bs-target="#h-pills-manufacture" type="button" role="tab" aria-controls="h-pills-manufacture" aria-selected="false">04. Camera Testing</button>
                                        <button class="nav-link" id="h-pills-education-tab" data-bs-toggle="pill" data-bs-target="#h-pills-education" type="button" role="tab" aria-controls="h-pills-education" aria-selected="false">05. Printer Testing</button>
                                        <button class="nav-link" id="h-pills-customer-tab" data-bs-toggle="pill" data-bs-target="#h-pills-customer" type="button" role="tab" aria-controls="h-pills-customer" aria-selected="true">06. Scanner Testing</button>
                                    </div>
                                    <div class="tab-content" id="h-pills-tabContent">
                                        <div class="tab-pane fade active show" id="h-pills-home" role="tabpanel" aria-labelledby="h-pills-home-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Router, Switch, Load balancer, Firewall, Access Control
                                                    Device, Access Point Device, Optical Distribution Frame, Network Rack.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="h-pills-profile" role="tabpanel" aria-labelledby="h-pills-profile-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Server, Laptop, Desktop Computer, iMac, Mac Mini, MacBook Air.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="h-pills-messages" role="tabpanel" aria-labelledby="h-pills-messages-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Monitor, LED TV, Smart LED TV, Smart Board or Equivalent Devices.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="h-pills-manufacture" role="tabpanel" aria-labelledby="h-pills-manufacture-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    CCTV/IP Camera, Webcam, PTZ/Equivalent Camera, Lens.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="h-pills-education" role="tabpanel" aria-labelledby="h-pills-education-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    I Laser Printer, POS Printer, ID Card Printer, Barcode Label Printer.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                        <div class="tab-pane fade" id="h-pills-customer" role="tabpanel" aria-labelledby="h-pills-customer-tab">
                                            <!-- start tab content -->
                                            <div class="rts-tab-content-one">
                                                <p><img src="~/external-template/assets/img/customer.jpg" alt="image"></p>
                                                <p class="disc">
                                                    Document Scanner, Multifunction Document Scanner.
                                                </p>
                                            </div>
                                            <!-- start tab content End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-theme space-extra" data-bg-src="~/external-template/assets/img/bg/counter_bg_1.png">
        <div class="container py-2">
            <div class="row gy-40 justify-content-between">
                <div class="col-6 col-lg-auto">
                    <div class="counter-card">
                        <div class="counter-card_icon"><img src="~/external-template/assets/img/icon/counter_1_1.svg" alt="Icon"></div>
                        <div class="media-body">
                            <h2 class="counter-card_number"><span class="counter-number">986</span>+</h2>
                            <p class="counter-card_text">Finished Project</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto">
                    <div class="counter-card">
                        <div class="counter-card_icon"><img src="~/external-template/assets/img/icon/counter_1_2.svg" alt="Icon"></div>
                        <div class="media-body">
                            <h2 class="counter-card_number"><span class="counter-number">896</span>+</h2>
                            <p class="counter-card_text">Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto">
                    <div class="counter-card">
                        <div class="counter-card_icon"><img src="~/external-template/assets/img/icon/counter_1_3.svg" alt="Icon"></div>
                        <div class="media-body">
                            <h2 class="counter-card_number"><span class="counter-number">396</span>+</h2>
                            <p class="counter-card_text">Skilled Experts</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-auto">
                    <div class="counter-card">
                        <div class="counter-card_icon"><img src="~/external-template/assets/img/icon/counter_1_4.svg" alt="Icon"></div>
                        <div class="media-body">
                            <h2 class="counter-card_number"><span class="counter-number">496</span>+</h2>
                            <p class="counter-card_text">Honorable Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brand-area bg-white py-100" data-bg-src="~/external-template/assets/img/bg.jpg">
        <div class="container th-container5">
            <div class="title-area mb-30 text-center">
                <h6 class="brand-title">We’ve worked on over 200 projects with 150+ clients</h6>
            </div>
            <div class="swiper th-slider" id="brandSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"3"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"4"},"1400":{"slidesPerView":"5"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand-box1-1"><img src="~/external-template/assets/img/brand/01.png" alt="Brand Logo"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-box1-1"><img src="~/external-template/assets/img/brand/02.png" alt="Brand Logo"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-box1-1"><img src="~/external-template/assets/img/brand/03.png" alt="Brand Logo"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-box1-1"><img src="~/external-template/assets/img/brand/04.png" alt="Brand Logo"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-box1-1"><img src="~/external-template/assets/img/brand/05.png" alt="Brand Logo"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-box1-1"><img src="~/external-template/assets/img/brand/06.png" alt="Brand Logo"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-box1-1"><img src="~/external-template/assets/img/brand/02.png" alt="Brand Logo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-auto space review-sec" data-bg-src="~/external-template/assets/img/bg/testi_bg_2.png">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title">
                    <div class="icon-masking me-2"><span class="mask-icon" data-mask-src="~/external-template/assets/img/theme-img/title_shape_2.svg"></span> <img src="~/external-template/assets/img/theme-img/title_shape_2.svg" alt="shape"></div>
                    CUSTOMER FEEDBACK
                </span>
                <h2 class="sec-title">What Happy Clients Says<br><span class="text-theme fw-normal">About Us?</span></h2>
            </div>
            <div class="slider-area">
                <div class="swiper th-slider has-shadow" id="testiSlider2" data-slider-options='{"loop":true,"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"1"},"1200":{"slidesPerView":"2"}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testi-box">
                                <div class="testi-box_img">
                                    <img src="~/external-template/assets/img/testimonial/testi_2_1.jpg" alt="Avater">
                                    <div class="testi-box_quote"><img src="~/external-template/assets/img/icon/quote_left_2.svg" alt="quote"></div>
                                </div>
                                <div class="testi-box_content">
                                    <p class="testi-box_text">Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration.</p>
                                    <div class="testi-box_review"><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i></div>
                                    <h3 class="box-title">David Farnandes</h3>
                                    <p class="testi-box_desig">CEO at Anaton</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-box">
                                <div class="testi-box_img">
                                    <img src="~/external-template/assets/img/testimonial/testi_2_2.jpg" alt="Avater">
                                    <div class="testi-box_quote"><img src="~/external-template/assets/img/icon/quote_left_2.svg" alt="quote"></div>
                                </div>
                                <div class="testi-box_content">
                                    <p class="testi-box_text">Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration.</p>
                                    <div class="testi-box_review"><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i></div>
                                    <h3 class="box-title">Jackline Techie</h3>
                                    <p class="testi-box_desig">CEO at Kormola</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-box">
                                <div class="testi-box_img">
                                    <img src="~/external-template/assets/img/testimonial/testi_2_3.jpg" alt="Avater">
                                    <div class="testi-box_quote"><img src="~/external-template/assets/img/icon/quote_left_2.svg" alt="quote"></div>
                                </div>
                                <div class="testi-box_content">
                                    <p class="testi-box_text">Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration.</p>
                                    <div class="testi-box_review"><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i></div>
                                    <h3 class="box-title">Abraham Khalil</h3>
                                    <p class="testi-box_desig">CEO at Rimasu</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-box">
                                <div class="testi-box_img">
                                    <img src="~/external-template/assets/img/testimonial/testi_2_1.jpg" alt="Avater">
                                    <div class="testi-box_quote"><img src="~/external-template/assets/img/icon/quote_left_2.svg" alt="quote"></div>
                                </div>
                                <div class="testi-box_content">
                                    <p class="testi-box_text">Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration.</p>
                                    <div class="testi-box_review"><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i></div>
                                    <h3 class="box-title">David Farnandes</h3>
                                    <p class="testi-box_desig">CEO at Anaton</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-box">
                                <div class="testi-box_img">
                                    <img src="~/external-template/assets/img/testimonial/testi_2_2.jpg" alt="Avater">
                                    <div class="testi-box_quote"><img src="~/external-template/assets/img/icon/quote_left_2.svg" alt="quote"></div>
                                </div>
                                <div class="testi-box_content">
                                    <p class="testi-box_text">Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration.</p>
                                    <div class="testi-box_review"><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i></div>
                                    <h3 class="box-title">Jackline Techie</h3>
                                    <p class="testi-box_desig">CEO at Kormola</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-box">
                                <div class="testi-box_img">
                                    <img src="~/external-template/assets/img/testimonial/testi_2_3.jpg" alt="Avater">
                                    <div class="testi-box_quote"><img src="~/external-template/assets/img/icon/quote_left_2.svg" alt="quote"></div>
                                </div>
                                <div class="testi-box_content">
                                    <p class="testi-box_text">Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration.</p>
                                    <div class="testi-box_review"><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i></div>
                                    <h3 class="box-title">Abraham Khalil</h3>
                                    <p class="testi-box_desig">CEO at Rimasu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button data-slider-prev="#testiSlider2" class="slider-arrow style3 slider-prev"><i class="far fa-arrow-left"></i></button> <button data-slider-next="#testiSlider2" class="slider-arrow style3 slider-next"><i class="far fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="shape-mockup moving d-none d-xl-block" data-bottom="0%" data-left="10%"><img src="~/external-template/assets/img/shape/line_1.png" alt="shape"></div>
        <div class="shape-mockup jump d-none d-xl-block" data-top="20%" data-right="2%"><img src="~/external-template/assets/img/shape/line_2.png" alt="shape"></div>
    </section>

    <section class="overflow-hidden d-none">
        <div class="container th-container4">
            <div class="appointment-area th-radius3 position-relative overflow-hidden" data-bg-src="~/external-template/assets/img/bg/appointment_bg_3.jpg">
                <div class="row align-items-center">
                    <div class="col-xl-5">
                        <div class="title-area mb-40 text-xl-start">
                            <span class="sub-title sub-title3 style1 text-white">Work With Us</span>
                            <h2 class="sec-title text-white">We are ready to work for your projects</h2>
                            <p class="sec-desc text-white mb-0">
                                Director / Incharge <br>
                                Testing, Quality Control and Certification <br>
                                Bangladesh Computer Council <br>
                                Information and Communication Technology Division
                            </p>
                        </div>
                        <div class="feature-wrapper style4">
                            <div class="feature-icon"><a href="tel:+2583258235"><i class="fa-solid fa-phone"></i></a></div>
                            <div class="media-body">
                                <p class="header-info_link"><a href="tel:+2583258235">Call Us: 258-3258 235</a></p>
                            </div>
                        </div>
                        <div class="feature-wrapper style4">
                            <div class="feature-icon"><a href="#"><i class="fa-solid fa-envelope"></i></a></div>
                            <div class="media-body">
                                <p class="header-info_link"><a href="#"> Email Us: shqtc@bcc.gov.bd</a></p>
                            </div>
                        </div>
                        <div class="feature-wrapper style4">
                            <div class="feature-icon"><a href="https://www.google.com/maps"><i class="fa-solid fa-location-dot"></i></a></div>
                            <div class="media-body">
                                <p class="header-info_link"><a href="https://www.google.com/maps">Location: 13th, E-14/X, ICT Tower, Agargaon, Dhaka-1207 </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="appointment-area-wrapper">
                            <form action="#" method="POST" class="appointment-form2 input-smoke ajax-contact">
                                <div class="row">
                                    <div class="form-group col-md-6"><input type="text" class="form-control" name="name" id="name" placeholder="Your Name"></div>
                                    <div class="form-group col-md-6"><input type="email" class="form-control" name="email" id="email" placeholder="Email Address"></div>
                                    <div class="form-group col-md-6"><input type="tel" class="form-control" name="number" id="number" placeholder="Phone Number"></div>
                                    <div class="form-group col-md-6"><input type="text" class="form-control" name="text" id="text" placeholder="What is your budget?"></div>
                                    <div class="form-group col-12"><textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Write your message here"></textarea></div>
                                    <div class="form-btn col-12"><button class="th-btn style9 style-radius">Submit Message</button></div>
                                </div>
                                <p class="form-messages mb-0 mt-3"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative overflow-hidden d-none" id="mission-sec">
        <div class="container th-container5">
            <div class="about-sec4 position-relative overflow-hidden" data-bg-src="~/external-template/assets/img/normal/about_4.jpg">
                <div class="about-shape4">
                    <div class="marquee-wrapper">
                        <div class="marquee">
                            <div class="marquee-group">
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                            </div>
                            <div aria-hidden="true" class="marquee-group">
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                            </div>
                        </div>
                        <div class="marquee marquee--reverse">
                            <div class="marquee-group">
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                            </div>
                            <div aria-hidden="true" class="marquee-group">
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                            </div>
                        </div>
                        <div class="marquee">
                            <div class="marquee-group">
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                            </div>
                            <div aria-hidden="true" class="marquee-group">
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                                <div class="text">Adaptability</div>
                                <div class="text">Creative Innovation</div>
                                <div class="text">4000+ partners</div>
                                <div class="text">15M Customer Worldwide</div>
                                <div class="text">Engagement</div>
                                <div class="text">Ethical Practices</div>
                                <div class="text">Communication</div>
                                <div class="text">Personalization</div>
                                <div class="text">Expertise</div>
                                <div class="text">50+ Countries</div>
                                <div class="text">Expertise</div>
                                <div class="text">Innovation</div>
                                <div class="text">Inclusivity</div>
                                <div class="text">Diversity</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-area4">
                    <div class="title-area-wrapper">
                        <div class="title-area mb-40">
                            <span class="sub-title style1 text-white">Mission of SHQTC</span>
                            <h2 class="sec-title text-white">
                                To elevate the standards of software and hardware
                                quality testing.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="service-sec space d-none">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 col-sm-10 px-xl-4">
                    <div class="title-area text-center">
                        <span class="sub-title">
                            <div class="icon-masking me-2"><span class="mask-icon" data-mask-src="~/external-template/assets/img/theme-img/title_shape_2.svg"></span> <img src="~/external-template/assets/img/theme-img/title_shape_2.svg" alt="shape"></div>
                            Our Planning
                        </span>
                        </span>
                        <h2 class="sec-title">Strength and Future Plan of SHQTC </h2>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <p class="service-card_text mb-0">SHQTC stands as the <b>sole government testing center</b> in Bangladesh. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <p class="service-card_text mb-0">
                            SHQTC is proudly holding the international certifications of <b>
                                TMMi (Level-5),
                                ISO/IEC-17025, ISO/IEC-15408 standards.
                            </b>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <p class="service-card_text mb-0">
                            With an extensive track record, we have successfully conducted <b>
                                more than 300
                                software testing and 700 hardware testing
                            </b> projects till now.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <p class="service-card_text mb-0">
                            SHQTC is currently working on <b>
                                'Software and Hardware Quality Testing Policy
                                2024'
                            </b> to ensure comprehensive quality testing measures are in place.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <p class="service-card_text mb-0">
                            <b>SHQTC Automation Software</b> solution is used to streamline the testing process,
                            maintain efficient tracking, and facilitate seamless management.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <p class="service-card_text mb-0">
                            We have initiated the implementation of <b>contractual agreements</b> with our clients to
                            ensure clarity and mutual understanding of expectations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="overflow-hidden space">
        <div class="container th-container4">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 col-sm-10 px-xl-4">
                    <div class="title-area text-center">
                        <span class="sub-title">
                            <div class="icon-masking me-2"><span class="mask-icon" data-mask-src="~/external-template/assets/img/theme-img/title_shape_2.svg"></span> <img src="~/external-template/assets/img/theme-img/title_shape_2.svg" alt="shape"></div>
                            Testing Methods
                        </span>
                        </span>
                        <h2 class="sec-title">Software Testing Methodologies</h2>
                    </div>
                </div>
            </div>
            <div class="feature-wrap7">
                <div class="feature-bg-line"><img src="~/external-template/assets/img/bg/feature_line.png" alt="img"></div>
                <div class="row gy-80 justify-content-center justify-content-lg-between align-items-center">
                    <div class="col-lg-6">
                        <div class="feature-thumb7-1"><img src="~/external-template/assets/img/normal/feature-img-7-1.png" alt="img"></div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="feature-content me-xl-5">
                            <h4 class="feature-content-title mb-25">Functional Testing</h4>
                            <p class="mb-25">Functional Testing - typically broken down into four components (unit testing, integration testing, system testing, and acceptance testing), this verifies that the functions and features of the software work as intended.</p>
                            <div class="two-column mb-35">
                                <div class="checklist">
                                    <ul>
                                        <li><i class="fas fa-check"></i> Faster Response Time</li>
                                        <li><i class="fas fa-check"></i> Top Audiences</li>
                                    </ul>
                                </div>
                                <div class="checklist">
                                    <ul>
                                        <li><i class="fas fa-check"></i> Automation builder</li>
                                        <li><i class="fas fa-check"></i> Safe and Private</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-4">
                        <div class="feature-thumb7-1"><img src="~/external-template/assets/img/normal/feature-img-7-2.png" alt="img"></div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="feature-content left-content me-xl-5">
                            <h4 class="feature-content-title mb-25">Non-Functional Testing</h4>
                            <p class="mb-25">Non-Functional Testing - on the other hand, non-functional testing involves testing basically everything else like performance and customer expectations (also known as the ‘-ilities’ because they all end in ‘-ility’ — i.e. vulnerability, scalability, usability).</p>
                            <div class="two-column mb-35">
                                <div class="checklist">
                                    <ul>
                                        <li><i class="fas fa-check"></i> Create a project</li>
                                        <li><i class="fas fa-check"></i> Make it done on-time</li>
                                    </ul>
                                </div>
                                <div class="checklist">
                                    <ul>
                                        <li><i class="fas fa-check"></i> Assign related people</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="space latest-project" id="project-sec">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title">
                    <div class="icon-masking me-2"><span class="mask-icon" data-mask-src="~/external-template/assets/img/theme-img/title_shape_2.svg"></span> <img src="~/external-template/assets/img/theme-img/title_shape_2.svg" alt="shape"></div>
                    LATEST PROJECTS
                </span>
                <h2 class="sec-title">Our Recent Latest <span class="text-theme">Projects</span></h2>
            </div>
            <div class="slider-area">
                <div class="swiper th-slider has-shadow" id="projectSlider2" data-slider-options='{"loop":true,"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"3"}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_1.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_1.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">IT Consultency</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_2.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_2.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">Web Development</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_3.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_3.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">Website Design</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_4.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_4.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">SEO Optimization</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_1.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_1.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">IT Consultency</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_2.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_2.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">Web Development</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_3.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_3.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">Website Design</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-grid">
                                <div class="project-grid_img"><img src="~/external-template/assets/img/project/project_2_4.jpg" alt="project image"> <a href="~/external-template/assets/img/project/project_2_4.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                                <div class="project-grid_content">
                                    <h3 class="box-title"><a href="">SEO Optimization</a></h3>
                                    <p class="project-grid_text">Distinctively enable premium expertise for multifunctional action items. Energistically benchmark worldwide communities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button data-slider-prev="#projectSlider2" class="slider-arrow style3 slider-prev"><i class="far fa-arrow-left"></i></button> <button data-slider-next="#projectSlider2" class="slider-arrow style3 slider-next"><i class="far fa-arrow-right"></i></button>
            </div>
        </div>
    </section>

    <div class="overflow-hidden space pricing-table" id="price-sec">
        <div class="container th-container4">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 col-sm-10 px-xl-4">
                    <div class="title-area text-center">
                        <span class="sub-title">
                            <div class="icon-masking me-2"><span class="mask-icon" data-mask-src="~/external-template/assets/img/theme-img/title_shape_2.svg"></span> <img src="~/external-template/assets/img/theme-img/title_shape_2.svg" alt="shape"></div>
                            Price
                        </span>
                        </span>
                        <h2 class="sec-title">Pricing Table</h2>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs pricing-type" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="price1-tab" data-bs-toggle="tab" data-bs-target="#price1" type="button" role="tab" aria-controls="price1" aria-selected="true">Price category 1 </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="price2-tab" data-bs-toggle="tab" data-bs-target="#price2" type="button" role="tab" aria-controls="price2" aria-selected="false">Price category 2</button>
                </li>
            </ul>
            <div class="tab-content" id="priceTabContent">
                <div class="tab-pane fade show active" id="price1" role="tabpanel" aria-labelledby="price1-tab">
                    <div class="feature-wrap7 pricing-wrap7">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Service Name</th>
                                    <th scope="col">Package Name</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3" style="vertical-align: middle;">Functional Testing</td>
                                    <td>Per Module Rate - Web Application</td>
                                    <td>50,000.00 </td>
                                </tr>
                                <tr>
                                    <td>Per Module Rate - Desktop Application</td>
                                    <td>50,000.00 </td>
                                </tr>
                                <tr>
                                    <td>Per Module Rate - Mobile Application</td>
                                    <td>50,000.00 </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td rowspan="3" style="vertical-align: middle;">Compatibility Testing</td>
                                    <td>Cross Browser Testing (3 major browsers) – Web Application</td>
                                    <td>30,000.00</td>
                                </tr>
                                <tr>
                                    <td>Per Device – Mobile Application</td>
                                    <td>10,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="price2" role="tabpanel" aria-labelledby="price2-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>

    <div class="gallery-section space">
        <div class="container th-container4">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 col-sm-10 px-xl-4">
                    <div class="title-area text-center">
                        <h2 class="sec-title">Our Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_1.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_1.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_2.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_2.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_3.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_3.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_4.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_4.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_7.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_7.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_5.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_5.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_6.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_6.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_8.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_8.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="gallery-card">
                                <div class="gallery-img"><img src="~/external-template/assets/img/gallery/gallery_1_9.jpg" alt="gallery image"> <a href="~/external-template/assets/img/gallery/gallery_1_9.jpg" class="play-btn style3 popup-image"><i class="far fa-plus"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="th-pagination mt-5 text-center">
                        <ul>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href=""><i class="far fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-wrapper footer-layout2">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xxl-3 col-xl-4">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo"><a href=""><img src="~/external-template/assets/img/logo.svg" alt=""></a></div>
                                <!-- <p class="about-text"> SHQTC started in 2017
                                    and currently it is running under the Testing, Quality Control, and Certification Wing of
                                    Bangladesh Computer Council.</p> -->
                                <div class="th-social"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a> <a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Pricing</a></li>
                                    <li><a href="">Our Projects</a></li>
                                    <li><a href="">Work With Us</a></li>
                                    <li><a href="">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Contact Us</h3>
                            <div class="th-widget-contact">
                                <div class="contact-feature">
                                    <div class="icon-btn"><i class="fa-solid fa-phone"></i></div>
                                    <div class="media-body">
                                        <p class="contact-feature_label">Phone Number</p>
                                        <a href="tel: +88-02 55006449" class="contact-feature_link"> +88-02 55006449</a>
                                    </div>
                                </div>
                                <div class="contact-feature">
                                    <div class="icon-btn"><i class="fa-solid fa-envelope"></i></div>
                                    <div class="media-body">
                                        <p class="contact-feature_label">Email address</p>
                                        <a href="mailto:shqtc@bcc.gov.bd" class="contact-feature_link">shqtc@bcc.gov.bd</a>
                                    </div>
                                </div>
                                <div class="contact-feature">
                                    <div class="icon-btn"><i class="fa-solid fa-location-dot"></i></div>
                                    <div class="media-body">
                                        <p class="contact-feature_label">office location</p>
                                        <a href="https://www.google.com/maps" class="contact-feature_link">13th, E-14/X, ICT Tower, Agargaon, Dhaka-1207 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Get in touch!</h3>
                            <div class="newsletter-widget">
                                <p class="footer-text">Subsrcibe to our upcoming latest article and news resources. Sign up today for hints. tips and the latest product news.</p>
                                <form action="#" class="newsletter-form">
                                    <div class="form-group"><input class="form-control" type="email" placeholder="Enter email address" required=""></div>
                                    <button type="submit" class="icon-btn"><i class="fa-solid fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-theme">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-12 text-center">
                        <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a href="">SHQTC</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <script src="~/external-template/assets/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="~/external-template/assets/js/swiper-bundle.min.js"></script>
    <script src="~/external-template/assets/js/bootstrap.min.js"></script>
    <script src="~/external-template/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/external-template/assets/js/jquery.counterup.min.js"></script>
    <script src="~/external-template/assets/js/circle-progress.js"></script>
    <script src="~/external-template/assets/js/jquery-ui.min.js"></script>
    <script src="~/external-template/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/external-template/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/external-template/assets/js/tilt.jquery.min.js"></script>
    <script src="~/external-template/assets/js/gsap.min.js"></script>
    <script src="~/external-template/assets/js/ScrollTrigger.min.js"></script>
    <script src="~/external-template/assets/js/smooth-scroll.js"></script>
    <script src="~/external-template/assets/js/particles.min.js"></script>
    <script src="~/external-template/assets/js/particles-config.js"></script>
    <script src="~/external-template/assets/js/main.js"></script>
</body>
</html>